	<h1> 
		<%= @decision.user.first_name%>: 
		<%= @decision.name%>
	</h1>

	<h3>What are your options?</h3>

	<% @options.each do |option| %>
		<div > 
			<h3>
				<div class="col-xs-8 factor-name">
					<i class="fa fa-pencil-square-o"></i> 
					<%= option.name %>
				</div>
			
				<div class="col-xs-4 factor-name"> 

					<div class="col-xs-4 factor-name"> 
						<i class="fa fa-commenting-o"></i>
					</div>
				
					<div class="col-xs-4 factor-name"> 

						<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, decision_option_path(option.decision, option), method: :delete, data: { confirm: 'Are you sure you want to delete this option?', class: 'btn btn-default' } %>
					</div>


				</div>
			</h3>
		</div>

	<% end %>
