// Place all the styles related to the decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-container {
	padding-top: 50px;
    padding-bottom: 500px;
    padding-right: 50px;
    padding-left: 50px;
}